:root {
  --light-color: #ffffff;
  --dark-color: #000000;
  --main-color: #fffaf4;
  --secondary-color: #7cab28;
  --color-title: #1f1f1f;
  --color-text: #878787;
  --main-font: "Poppins", sans-serif;
  --color-card: #fcbf79;
}
::-webkit-scrollbar {
  width: 2px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--light-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-text);
}
@media screen and (min-width: 992px) {
  ::-webkit-scrollbar {
    width: 10px;
    height: 8px;
  }
}
.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

body {
  min-height: 100vh;
  position: relative;
  background-color: var(--main-color);
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.iconburger {
  background: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .iconburger {
    display: none;
  }
}
