/* ========================
   Barra de Navegacion
======================== */
.nav {
  width: 100%;
  position: fixed;
  z-index: 9;
  backdrop-filter: blur(3px);
}
.nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.nav__logo {
  cursor: pointer;
  display: flex;
}
.nav__links {
  display: flex;
  display: none;
}
.mobile__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  background-color: var(--main-color);
  width: 100%;
  padding: 10px 0;
  height: 100vh;
  top: 66px;
  left: 0;
  z-index: 1;
  padding-bottom: 100px;
  text-transform: capitalize;
}
.nav__contact_mobile {
  text-align: center;
  font-family: var(--main-font);

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 17.12px; /* 107% */

  color: #ffffff;
  padding: 12px 0;
  text-align: center;
  width: 90%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;

  border-radius: 50px;
  background-color: var(--secondary-color);
}
.nav__link {
  color: #878787;
  font-family: var(--main-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
  width: 90%;
  text-align: left;
  cursor: pointer;
  padding: 12px 0;
  text-transform: capitalize;
}
.nav__link_demo {
  display: flex;
  max-width: 350px;
  width: 100%;
  padding: 11px 24.42px 12.11px 25px;
  justify-content: center;
  align-items: flex-start;

  border-radius: 50px;
  background-color: var(--secondary-color);

  color: #fff;
  text-align: center;
  font-family: var(--main-font);

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 17.12px; /* 107% */
}

@media screen and (min-width: 992px) {
  .nav__content {
    padding: 30px 0;
  }
  .nav__links {
    display: flex;
    flex-direction: row;
    gap: 46px;
    align-items: center;
  }
  .nav__link {
    padding: 0;
    border-bottom: initial;

    display: inline-block;
    text-align: center;
    width: initial;
  }
  .mobile__menu {
    display: none;
  }
  .nav__contact_mobile {
    display: none;
  }
}

.active {
  color: #ffffff;
}

/* ========================
   Barra de Navegacion
======================== */
/* ========================
   Header
======================== */
.home {
  width: 100%;
}
.home__content {
  min-height: 746px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 152px;
}
.home__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}
.home__title {
  color: #0f0d0d;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  max-width: 332px;
}

.home__subtitle {
  text-align: left;
  color: #969696;
  font-family: var(--main-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  max-width: 565px;
  width: 100%;
  letter-spacing: 0.3px;
  text-align: center;
  line-height: 27px; /* 168.75% */
  max-width: 342px;
}
.home__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 26px;
}
.home__link_demo {
  display: flex;
  padding: 18px;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--secondary-color);
  color: #fff;
  text-align: center;
  font-family: var(--main-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16.96px;
  width: 100%;

  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.home__button {
  display: flex;
  padding: 18px 35.42px 19.95px 36px;
  justify-content: center;
  align-items: flex-start;
  border-radius: 12px;
  color: #000000;
  text-align: center;
  font-family: var(--main-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16.96px;
  border: 1px solid #0000003d;
}
.home__image {
}
.home__image img {
  width: 100%;
  object-fit: contain;
}
@media screen and (max-width: 992px) {
  .home__button {
    max-width: 350px;
    width: 100%;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (min-width: 768px) {
  .home__content {
    flex-direction: row;
    padding-top: 30px;
  }
  .home__title {
    font-size: 53px;
    line-height: 65px;
    max-width: 580px;
    text-align: left;
  }
  .home__subtitle {
    font-size: 20px;
    text-align: left;
  }
  .home__buttons {
    flex-direction: row;
  }
  .home__button {
    border: none;
  }
}
@media screen and (min-width: 992px) {
  .home__title {
    font-size: 52px;
    line-height: 73px;
    max-width: 530px;
    text-align: left;
  }
  .home__text {
    align-items: flex-start;
  }
  .home__subtitle {
    text-align: left;
  }
  .home__buttons {
    flex-direction: row;
  }
  .home__link_demo {
    max-width: 239px;
  }
}
@media screen and (min-width: 1200px) {
  .home__title {
    max-width: 615px;
  }
}
/* ========================
   Header
======================== */
/* ========================
   Customers
======================== */
.customers {
  width: 100%;
  background-color: var(--light-color);
}

.customers__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 125px 0;
}

@media screen and (min-width: 768px) {
  .customers__content {
    justify-content: space-between;
  }
}

/* ========================
   Customers
======================== */

/* ========================
   Nosotros
======================== */
/*____________ About ___________*/
.about {
  width: 100%;
  margin-top: 40px;
  background-color: var(--main-color);
}
.about__content {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  padding: 136px 0;
  align-items: center;
  gap: 50px;
}
.about__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.about__paragraphs {
  max-width: 584px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.about__paragraph {
  color: #878787;
  font-family: Public Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0.3px;
}
.about__links {
  display: flex;
  gap: 20px;
}
.about__paragraph span {
  color: #fff;
}

.about__image {
  display: flex;
}
.about__img {
  width: 100%;
  object-fit: contain;
}
@media screen and (min-width: 768px) {
  .about__text {
    gap: 48px;
  }

  .about__paragraph {
    font-size: 20px;
  }
}

@media screen and (min-width: 992px) {
  .about__content {
    flex-direction: row;
  }
}
/*____________ About ___________*/

/* ========================
   Nosotros
======================== */
/* ========================
   Precios
======================== */
.precios {
  width: 100%;
}
.precios__content {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.precios__cards {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  margin: auto;
}
.precios__card {
  min-height: 400px;
  max-width: 310px;
  width: 100%;
  font-family: var(--main-font);
  font-size: 14px;
  color: black;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  /* gap: 38px; */
  background-color: #fcbf79;
  padding: 25px;
  border-radius: 26px;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  -o-border-radius: 26px;
}
.precios__card_important {
  min-height: 530px;
  max-width: 335px;
  background-color: var(--secondary-color);
  gap: 35px;
  color: var(--light-color);
}
.precios__head {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.precios__title {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  color: var(--color-title);
}
.precios__import {
  color: var(--light-color);
}
.precios__subtitle {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}
.precios__subtitle_import {
}
.precios__price {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}
.precios__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.precios__list_text {
  display: flex;
  gap: 5px;
  align-items: center;
}
.precios__button {
  width: 100%;
  background-color: var(--secondary-color);
  text-align: center;
  padding: 15px 5px;
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 16px;
  color: var(--light-color);
  border: none;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}
.precios__button_import {
  background-color: var(--light-color);
  color: var(--secondary-color);
}
@media screen and (min-width: 768px) {
  .precios__cards {
    flex-direction: row;
  }
}
/* ========================
   Precios
======================== */
/* ========================
   Testimonios
======================== */
.testimonios {
  width: 100%;
}
.testimonios__content {
  padding: 150px 0;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.testimonios__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 50px;
}
.testimonios__card {
  min-height: 300px;
  max-width: 350px;
  width: 100%;
  font-family: var(--main-font);
  font-size: 14px;
  color: black;

  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  background-color: #fcbf79;
  padding: 20px;
  border-radius: 26px;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  -o-border-radius: 26px;
}
.testimonios__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.testimonios__name {
  font-family: var(--main-font);
  font-size: 16px;

  font-weight: 600;
}
.testimonios__profession {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
}

.testimonios__paragraph {
}
.testimonios__starts {
  display: flex;
  justify-content: flex-end;
}

@media screen and (min-width: 768px) {
  .testimonios__cards {
    flex-direction: row;
  }
}
/* ========================
   Testimonios
======================== */
/* ========================
   Contacto
======================== */
.contacto {
  width: 100%;
}
.contacto__content {
  background-color: rgb(128, 255, 0);
  height: 500px;
}

/* ========================
   Contacto
======================== */
